@charset "utf-8";
/***** pc ver. *****/
@media screen and (min-width: 769px) {
  /***** header *****/
  header {
    font-family: var(--primary-font-en);
    width: 100%;
    padding: 34px 70px 0 30px;
    position: relative;
  }

  /*** contact-box ***/
  header .contact-box {
    display: block;
    border: 1px solid var(--color-blue);
  }

  header .contact-box ul {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }

  header .contact-box ul li svg {
    rotate: 180deg;
    padding: 0 5px;
  }

  header .contact-box ul li h3 {
    font-size: var(--web-desc-size-xs);
    font-weight: 600;
    color: var(--color-blue);
    border-left: 1px solid var(--color-blue);
    padding: 8px 15px 3px 20px;
  }

  header .contact-box h2 {
    border-top: 1px solid var(--color-blue);
    font-size: var(--web-title-size-xxs);
    font-weight: 800;
    color: var(--color-blue);
    text-align: center;
    padding: 12px 40px 0 40px;
    line-height: 0.9;
  }

  header h1 {
    position: absolute;
    bottom: -10px;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  header h1 a img {
    width: 80px;
  }

  /*** gnb-menu ***/
  header .gnb-menu {
    font-size: var(--web-title-size-xs);
    font-weight: 900;
    position: fixed;
    top: 30px;
  }

  header .gnb.on {
    display: block;
    background-color: #252525;
    color: var(--color-gold);
    position: fixed;
    top: 20px; right: 2px;
    z-index: 999;
    width: 165px;
    height: 405px;
    padding: 120px 0 0 0;
    border-radius: 15px;
    cursor: pointer;
  }
  
  header .gnb li {
    font-size: var(--mobile-title-size-xs);
    padding: 3px 15px;
    font-weight: 600;
  }

  /***** main *****/
  /*** video-container ***/
  main .video-container video {
    width: 93vw;
  }

  main .video-container h2 {
    font-size: var(--web-title-size-lg);
    font-weight: 900;
    bottom: -90px;
  }
  /*** main-container ***/
  main .main-container {
    padding-top: 320px;
    width: 100%;
  }

  main .main-container .scroll-text {
    font-size: var(--web-title-size-md);
    font-weight: 500;
    padding-top: 30px;
    margin-bottom: 100px;
  }

  main .main-container h2 {
    font-size: var(--web-title-size-xxl);
    font-weight: 900;
    padding: 0 70px;
    width: 100%;
  }

  main .main-container h3 {
    font-size: var(--web-title-size-md);
    font-weight: 900;
    padding: 98px 70px 84px 70px;
  }

  main .main-container .row-line-box {
    width: calc(100% - 140px);
    height: 103px;
    margin: 0 auto;
    /* width: 100%; */
    /* padding: 0 70px; */
    }
    
    main .main-container .row-line-box span {
    margin: 4px;
    width: 10px;
    height: 103px;
  }

  main .moving-box {
    margin-top: 200px;
    margin-bottom: 60px;
    transform: rotate(-10deg) translateY(120px);
  }

  main .main-container .moving-box .moving-text::after {
    content: "";
    width: 100%;
    height: 400px;
    transform: rotate(-10deg) translateX(500px) translateY(200px);
  }

  main .main-container .moving-box .moving-text p {
    font-size: var(--web-desc-size-xxl);
    font-weight: 600;
    padding-top: 15px;
  }

  main .main-container .moving-box .moving-text p img {
    padding-top: 7px;
  }

  main .main-container .moving-box .moving-text .parallax-text-main {
    font-size: var(--web-title-size-xl);
    font-weight: 900;
    border: 5px dashed var(--color-yellow);
    padding-top: 45px;
  }

  main .about-container {
    padding: 0 70px;
    width: 100%;
    display: grid;
    grid-template-columns: 1.2fr 1fr;
    grid-template-rows: 1fr;
    gap: 10px;
    position: relative;
    margin: 0 auto;
  }

  main .about-container .about-box {
    width: 100%;
    max-width: 700px;
  }

  main .about-container .about-box .about-title {
    /* font-size: var(--web-title-size-sm); */
    font-size: var(--web-title-size-sm);
    font-weight: 700;
    line-height: 0.7;
  }
  main .about-container .about-box h3 {
    /* font-size: var(--web-title-size-xxs); */
    font-size: var(--web-title-size-xxs);
    font-weight: bold;
    line-height: 0.9;
    padding-top: 20px;
  }

  main .about-container .about-box h4 {
    font-size: var(--web-desc-size-sm);
    font-weight: 600;
    padding-top: 88px;
    padding-bottom: 28px;
  }

  main .about-container .about-box p {
    font-size: var(--web-desc-size-xxs);
    font-weight: 400;
    padding-bottom: 10px;
    width: 80%;
  }

  main .about-container .about-buy-box {
    width: 90%;
    /* max-width: 800px; */
    margin-bottom: 20vw;
  }

  main .about-container .point-img {
    width: 100%;
    min-width: 100%;
    margin-bottom: 100px;
    max-width: calc(100% - 700px);
    }

  main .about-container .point-img .point-color {
    max-height: 25vw;
  }

  main .about-container .about-buy-box a p {
    font-size: var(--web-title-size-xxs);
    font-weight: 700;
    padding-top: 24px;
    line-height: 0.7;
  }

  main .about-container .about-buy-box a .about-arrow {
    height: 15px;
  }

  main .about-container .col-line-box {
    width: 252px;
    height: 396px;
    position: absolute;
    top: 39px;
    right: 0;
    grid-row: 1 / 2;
  }

  main .about-container .col-line-box span {
    height: 10px;
    margin: 12px 0;
  }

  /*** info-container ***/
  main .info-container h2 {
    font-size: var(--web-title-size-xl);
    font-weight: 900;
    padding: 100px 70px 0 70px;
  }

  main .info-container .info-desc {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding-bottom: 60px;
  }

  main .info-container .info-desc h2 {
    font-size: var(--web-title-size-xl);
    font-weight: 900;
    padding-top: 0;
  }

  main .info-container .info-desc h4 {
    text-align: right;
    font-size: var(--web-desc-size-xxs);
    font-weight: 500;
  }

  main .info-container .swiper-container .swiper-wrapper {
    width: 70%;
  }

  main .info-container .swiper-container .info-wrapper .info-content .info-box {
    width: 50%;
    padding: 0 34px 10px 34px;
    top: 50.5%;
  }

  main .info-container .swiper-container .info-wrapper .info-content ul li .info-box .info-title .flavor {
    font-size: 40px;
    font-weight: 800;
    border: none;
    padding: 6px 18px 4px 18px;
  }

  main .info-container .swiper-container .info-wrapper .info-content ul li .info-box .info-title h3 {
    font-size: 80px;
    font-weight: 800;
    line-height: 0.85;
    padding: 30px 0 10px 0;
  }

  main .info-container .swiper-container .info-wrapper .info-content ul li .info-box .info-title h4 {
    font-size: 36px;
    font-weight: 500;
    border-top: 3px solid var(--color-blue);
    border-bottom: 3px solid var(--color-blue);
    padding: 15px 0 8px 0;
  }

  main .info-container .swiper-container .info-wrapper .info-content .info-box .info-desc {
    display: block;
    border-bottom: 3px solid var(--color-blue);
  }

  main .info-container .swiper-container .info-wrapper .info-content .info-box .info-desc p {
    font-size: 20px;
    font-weight: 400;
  }

  main .info-container .swiper-container .info-wrapper .info-content .info-box .info-btn {
    padding: 8px 0;
    gap: 1vw
  }

  main .info-container .swiper-container .info-wrapper .info-content .info-box .info-btn .buy-btn {
    font-size: var(--web-desc-size-lg);
    font-weight: 800;
    display: grid;
    padding-top: 0.5vw;
  }

  main .info-container .swiper-container .info-wrapper .info-content .info-box .info-btn .detail-btn {
    font-size: var(--web-desc-size-xl);
    font-weight: 800;
    padding-top: 0.6vw;
    border-left: 3px solid var(--color-blue);
    border-right: 3px solid var(--color-blue);
  }

  main .info-container .swiper-container .info-wrapper .info-content .info-box .info-btn .info-arrow {
    height: 1.5vw;
  }

  main .info-container .swiper-container .swiper-btn {
    padding-right: 70px;
    gap: 25px;
    bottom: -18vw;
    right: 20px;
    }
    

  main .info-container .swiper-container .swiper-btn img {
    width: 80px;
  }

  /*** ad-container ***/
  main .ad-container {
    padding: 150px 70px 130px 70px;
  }

  main .ad-container .ad-main-title {
    display: flex;
  }

  main .ad-container .ad-main-title h2 {
    font-size: var(--web-title-size-lg);
    font-weight: 800;
    padding-right: 18px;
  }

  main .ad-container .ad-sub-title {
    display: flex;
  }

  main .ad-container .ad-sub-title h2 {
    font-size: var(--web-title-size-xs);
    font-weight: 700;
    padding-right: 18px;
  }

  main .ad-container .ad-desc1,
  main .ad-container .ad-desc2 {
    display: flex;
  }

  main .ad-container .ad-desc1 p,
  main .ad-container .ad-desc2 p,
  main .ad-container p {
    font-size: var( --web-desc-size-lg);
    font-weight: 300;
    padding-right: 10px;
  }

  main .ad-container .ad-buy-box {
    border: 4px solid var(--color-blue);
    padding-top: 40px;
  }

  main .ad-container .ad-buy-box a {
    border-top: 4px solid var(--color-blue);
  }

  main .ad-container .ad-buy-box a .ad-btn {
    display: flex;
    padding-top: 18px;
    border-right: 4px solid var(--color-blue);
  }

  main .ad-container .ad-buy-box a .ad-btn p {
    font-size: var(--web-title-size-xxs);
    font-weight: 800;
    padding-left: 0.1vw;
  }

  main .ad-container .ad-buy-box a svg {
    height: 25px;
  }

  /*** support-container ***/
  main .support-container {
    padding-top: 210px;
  }

  main .support-container .support-title {
    display: flex;
    justify-content: center;
  }

  main .support-container .support-title h2 {
    font-size: var(--web-title-size-lg);
    font-weight: 700;
    padding-right: 1.5vw;
  }

  main .support-container h3 {
    font-size: var(--web-desc-size-xxl);
    font-weight: 500;
    text-align: center;
  }

  main .support-container p {
    font-size: var(--web-desc-size-xs);
    font-weight: 500;
    text-align: center;
    padding-bottom: 73px;
  }

  main .support-container a {
    width: 60vw;
    margin: 0 auto;
    border: 4px solid var(--color-blue);
  }

  main .support-container a .support-text {
    font-size: 24px;
    font-weight: 400;
    padding: 25px 0;
    border-right: 4px solid var(--color-blue);
  }

  main .support-container a svg {
    height: 20px;
  }

  /***** footer *****/
  footer {
    padding: 155px 0 20px 0;
  }

  footer .footer-text1,
  footer .footer-text2 {
    display: flex;
    justify-content: center;
  }

  footer .footer-text1 p,
  footer .footer-text2 p {
    font-size: 14px;
    padding: 0 5px;
  }
}

@media screen and (min-width: 769px) and (max-width: 1099px) {
  /*** main-container ***/
  main .main-container {
    padding-top: 200px;
  }

  main .main-container .scroll-text {
    font-size: 100px;
    padding: 20px 0 5px 0;
    line-height: 0.7;
  }

  main .main-container h2 {
    font-size: 210px;
    padding: 0 30px;
  }

  main .main-container h3 {
    font-size: 64px;
    padding: 20px 30px 20px 30px;
  }

  main .main-container .row-line-box {
    width: calc(100% - 60px);
  }

  main .main-container .moving-box {
    padding-top: 0;
  }

  main .main-container .moving-box .moving-text::after {
    transform: rotate(-10deg) translateX(400px) translateY(200px);
  }

  /*** about-container ***/
  main .about-container {
    padding: 0 30px;
    margin: 0 auto;
  }

  main .about-container .about-box {
    min-width: 300px;
  }

  main .about-container .about-box .about-title {
    font-size: 64px;
  }

  main .about-container .about-box h3 {
    font-size: 36px;
  }

  main .about-container .about-box h4 {
    font-size: 28px;
  }

  main .about-container .about-box p {
    font-size: 14px;
  }

  main .about-container .about-buy-box a p {
    font-size: 48px;
    padding-top: 20px;
  }

  main .about-container .col-line-box {
    width: 250px;
  }

  main .about-container .point-img {
    width: calc(100% - 300px);
  }

  main .about-container .point-img img {
    width: 100%;
  }

  /*** info-container ***/
  main .info-container h2 {
    font-size: 200px;
    padding-left: 30px;
  }

  main .info-container .info-desc h2 {
    font-size: 200px;
    padding-right: 0;
    padding-left: 30px;
  }

  main .info-container .info-desc h4 {
    font-size: 16px;
    padding-left: 0;
  }

  main .info-container .swiper-container .swiper-wrapper {
    width: 95%;
  }

  main .info-container .swiper-container .info-wrapper .info-content ul li .info-box .info-title h3 {
    font-size: 60px;
  }

  main .info-container .swiper-container .info-wrapper .info-content ul li .info-box .info-title .flavor {
    font-size: 32px;
  }

  main .info-container .swiper-container .info-wrapper .info-content ul li .info-box .info-title h4 {
    font-size: 28px;
  }

  main .info-container .swiper-container .info-wrapper .info-content .info-box .info-desc p {
    font-size: 16px;
  }

  main .info-container .swiper-container .info-wrapper .info-content .info-box .info-btn .buy-btn {
    font-size: 36px;
  }

  main .info-container .swiper-container .info-wrapper .info-content .info-box .info-btn .detail-btn {
    font-size: 48px;
  }

  /*** ad-container ***/
  main .ad-container {
    padding: 150px 30px 130px 30px
  }

  main .ad-container .ad-main-title {
    display: block;
  }

  main .ad-container .ad-main-title h2 {
    font-size: 140px;
  }

  main .ad-container .ad-sub-title  {
    display: block;
  }

  main .ad-container .ad-sub-title h2 {
    font-size: 64px;

  }

  main .ad-container .ad-desc1,
  main .ad-container .ad-desc2 {
    display: block;
  }

  main .ad-container .ad-desc1 p,
  main .ad-container .ad-desc2 p,
  main .ad-container p {
    font-size: 36px;
  }

  main .ad-container .ad-buy-box a .ad-btn {
    display: block;
  }

  main .ad-container .ad-buy-btn a .ad-btn p {
    font-size: 48px;
  }

  main .support-container .support-title h2 {
    font-size: 96px;
  }

  /***** footer *****/
  footer .footer-text1 p,
  footer .footer-text2 p {
    font-size: 10px;
  }
}

@media screen and (min-width: 1100px) and (max-width: 1399px) {
  /*** main-container ***/
  main .main-container {
    padding-top: 240px;
  }

  main .main-container h2 {
    font-size: 330px;
    padding: 0 50px;
  }

  main .main-container h3 {
    font-size: 92px;
    padding: 60px 50px 60px 50px;
  }

  main .main-container .row-line-box {
    width: calc(100% - 100px);
  }

  main .main-container .moving-box {
    padding-top: 50px;
    margin-bottom: 80px;
  }

  main .main-container .moving-box .moving-text::after {
    transform: rotate(-10deg) translateX(400px) translateY(250px);
  }
  /*** about-container ***/
  main .about-container {
    padding: 0 50px;
    margin: 0 auto;
  }

  main .about-container .about-box {
    min-width: 300px;
  }

  main .about-container .about-box .about-title {
    font-size: 96px;
  }

  main .about-container .about-box h3 {
    font-size: 56px;
  }

  main .about-container .about-box h4 {
    font-size: 36px;
  }

  main .about-container .about-box p {
    font-size: 18px;
  }

  main .about-container .about-buy-box a p {
    font-size: 60px;
    padding-top: 20px;
  }

  main .about-container .col-line-box {
    width: 300px;
  }

  main .about-container .point-img {
    width: calc(100% - 300px);
  }

  main .about-container .point-img img {
    width: 100%;
  }


  /*** info-container ***/
  main .info-container h2 {
    font-size: 250px;
    padding-left: 50px;
  }

  main .info-container .info-desc h2 {
    font-size: 250px;
    padding-right: 0;
    padding-left: 50px;
  }

  main .info-container .info-desc h4 {
    font-size: 16px;
    padding-left: 0;
  }

  main .info-container .swiper-container .swiper-wrapper {
    width: 90%;
  }

  main .info-container .swiper-container .info-wrapper .info-content ul li .info-box .info-title h4 {
    font-size: 32px;
  }

  main .info-container .swiper-container .info-wrapper .info-content .info-box .info-desc p {
    font-size: 20px;
  }

  main .info-container .swiper-container .info-wrapper .info-content .info-box .info-btn .buy-btn {
    font-size: 40px;
  }

  main .info-container .swiper-container .info-wrapper .info-content .info-box .info-btn .detail-btn {
    font-size: 60px;
  }

  /*** ad-container ***/
  main .ad-container {
    padding: 150px 50px 130px 50px;
  }

  main .ad-container .ad-main-title h2 {
    font-size: 140px;
  }

  main .ad-container .ad-sub-title h2 {
    font-size: 64px;
  }

  main .ad-container .ad-desc1 p,
  main .ad-container .ad-desc2 p,
  main .ad-container p {
    font-size: 40px;
  }

  main .ad-container .ad-buy-btn a .ad-btn p {
    font-size: 60px;
  }

  /*** support container ***/
  main .support-container .support-title h2 {
    font-size: 130px;
  }

  /***** footer *****/
  footer .footer-text1 p,
  footer .footer-text2 p {
    font-size: 12px;
  }
}

@media screen and (min-width: 1400px) and (max-width: 1853px) {
  /*** main-container ***/
  main .main-container h2 {
    font-size: 420px;
  }

  main .main-container h3 {
    font-size: 116px;
  }

  /*** info-container ***/
  main .info-container h2 {
    font-size: 280px;
  }

  main .info-container .info-desc h2 {
    font-size: 280px;
    padding-right: 0;
  }

  main .info-container .info-desc h4 {
    font-size: 20px;
    padding-left: 0;
  }

  main .info-container .swiper-container .swiper-wrapper {
    width: 80%;
  }

  /*** ad-container ***/
  main .ad-container {
    padding: 150px 70px 130px 70px;
  }

  main .ad-container .ad-main-title h2 {
    font-size: 180px;
  }

  main .ad-container .ad-sub-title h2 {
    font-size: 80px;
  }

  /*** support container ***/
  main .support-container .support-title h2 {
    font-size: 170px;
  }
}